<ion-header>
  <ion-toolbar>
    <ion-title>Badoog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users | async">
      <ion-label>
        <h2>{{user.name}}</h2>
        <p>Hey there! I'm using Badoog</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-avatar slot="start">
        <img src="assets/default.png" />
      </ion-avatar>
      <ion-label>
        <h2>Usuario</h2>
        <p>Hey there! I'm using Badoog</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando mensajes..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 
  -->
</ion-content>
