<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-avatar>
    <ion-img src="/assets/default.png"></ion-img>
  </ion-avatar>
  <ion-button (click)="presentAlertConfirm()">Eliminar cuenta</ion-button>
</ion-content> -->


<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Perfil</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"
                    color="danger">
          <ion-icon slot="icon-only" name="exit"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    <ion-row class="top-30">
      <ion-col size="12" text-center>
        <ion-avatar><img src="{{imagenTemp}}" *ngIf="imagenTemp"><img src="http://192.168.1.140:3000/user/imagen/{{user._id}}/{{user._id}}.jpg" *ngIf="!imagenTemp"></ion-avatar>
      </ion-col>
    </ion-row>
  
    <!-- <img src="{{http://192.168.1.140:3000/user/imagen/{{user._id}}/{{user._id}}.jpg}}" ng-show="!imagenTemp"> -->
    
    <form (ngSubmit)="update(fUpdate)" #fUpdate>
        <ion-row>
          <ion-col>
            
              <ion-list>
                <ion-col size="6">
                    <ion-button expand="full"
                                shape="round"
                                (click)="camara()"
                                color="primary">
                      <ion-icon slot="start" name="camera"></ion-icon>
                      Cámara
                    </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button expand="full"
                                shape="round"
                                (click)="library()"
                                color="primary">
                      <ion-icon slot="start" name="images"></ion-icon>
                      Galería
                    </ion-button>
                </ion-col>
                
                <ion-item>
                    <ion-label>Email</ion-label>
                    <ion-input name="email" 
                                type="email"
                                [(ngModel)]="user.email"
                                required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input name="nombre"
                                type="text"
                                [(ngModel)]="user.name"
                                required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Edad</ion-label>
                    <ion-input name="age"
                                type="text"
                                [(ngModel)]="user.age"
                                required>
                    </ion-input>
                </ion-item>
                    <ion-list>
                        <ion-radio-group [(ngModel)]="user.size" name="size">
                            <ion-item>
                                <ion-label>Pequeño</ion-label>
                                <ion-radio slot="start" value="pequeño"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                                <ion-label>Mediano</ion-label>
                                <ion-radio slot="start" value="mediano"></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                                <ion-label>Grande</ion-label>
                                <ion-radio slot="start" value="grande"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                <ion-item >
                    <ion-label>Macho</ion-label>
                    <ion-toggle [(ngModel)]="checkSex" name="sex"></ion-toggle>
                    <ion-label class="ion-text-right">Hembra</ion-label> <!-- TODO Aplicar a la BBDD -->
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Descripción</ion-label>
                    <ion-textarea name="desc"
                                type="text"
                                [(ngModel)]="user.desc"
                                required>
                    </ion-textarea>
                </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col text-center>
            <ion-button type="submit"
                        color="primary"
                        shape="round">
            Actualizar
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>