<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Badoog </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Badoog</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      *ngFor="let setting of settings"
      [routerLink]="setting.redirectTo"
      detail
    >
      <ion-icon [name]="setting.icon" (click)="setting.function" slot="start"></ion-icon>
      {{ setting.name }}
    </ion-item>
    <ion-item (click)="logout()" [routerLink]="" detail>
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        Cerrar sesión
    </ion-item>
  </ion-list>
</ion-content>
